<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sửa Rạp</title>
</head>
<body>
<h1>Sửa Thông Tin Rạp</h1>
<form th:action="@{/theaters/edit/{id}(id=${theater.id})}" method="post" th:object="${theater}">
    <label>Tên rạp:</label>
    <input type="text" th:field="*{name}" required/><br/>

    <label>Địa chỉ:</label>
    <input type="text" th:field="*{address}" required/><br/>

    <button type="submit">Cập nhật</button>
    <a href="/theaters">Hủy</a>
</form>
</body>
</html>
